In [3]:
import pandas as pd
data = pd.read_csv('./googleplaystore.csv')
data.isnull() #This will return us the dataframe with the values replaced with true or false where true means there is a null value and false means there is no null value
data.isnull().sum() #This will give us the sum of all the null values according to the different columns
df = data.dropna() #This will remove the complete row in which there is at least one NULL values in any of the column but the original dataset remains the same.
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

### Finding average Rating

In [30]:
df['Rating']
int(sum(df['Rating']))/9360
print("Average rating of these apps are - ", 
int(sum(df['Rating']))/9360)
# Or we can use another approach

print("The average rating of these apps are - ", int(sum(df['Rating']))/len(df['Rating']))

Average rating of these apps are -  4.191773504273504
The average rating of these apps are -  4.191773504273504

### How many apps are there with rating = 5

In [33]:
c = 0
for i in data['Rating'] :
    if (i==5.0) :
        c +=1

print(c)

274

### How many apps are there with rating >= 4.0 and <=4.5

In [ ]:
c = 0
for i in data['Rating'] :
    if (i >= 4.0 and i <= 4.5) :
        c +=1

print(c)

### Working with Categorical data in the dataset

In [ ]:
df['Category'].unique() #Unique function removes the duplicates and only captures the first instance of the item, sorted by default.
c = 0
print(df['Category'].unique())
print(len(df['Category'].unique()))
for i in df['Category'] :
    if(i == 'ART_AND_DESIGN') : 
        c += 1
print(c)

In [ ]:
print(df['Type'])

c = 0
d = 0
for i in df['Type'] :
    if(i == 'Free') : 
        c += 1
    else :
        d += 1
print("There are total", c+d,"applications")
print("There are total",c,"free applications and",d, "paid applications")
print(int((d/(c+d))*100),"% applications are paid and",100-(int((d/(c+d))*100)),"% applications are Free")

### Name all the content ratings

In [41]:
for i in df['Content Rating'].unique() : 
    print(i)

Everyone
Teen
Everyone 10+
Mature 17+
Adults only 18+
Unrated

# Automate the process of FOR loop

In [ ]:
for i in df['Category'].unique() :
    print(i)

#### Create a function for the FOR loop for each element in the DataFrame

In [ ]:
df['Category'].unique()         #This will give us a numpy array of all the unique items in the list
for name in df['Category'].unique() : #This will iterate through all the items in that list
    ct = 0
    for i in df['Category'] : #This will iterate through all the items in the list again and check for each item. Since this is not unique, it will give us the actual count
        if (i == name) :
            ct += 1
    print("The total number of items in the category",name,"is equal to",ct)

In [75]:
item = df['Content Rating']
def findingItemsFunction():
        for name in item.unique() : 
            ct =0
            for j in item :
                if (j == name) :
                    ct += 1
            print("The total number of items in the category",name,"is equal to",ct)
findingItemsFunction()

The total number of items in the category Everyone is equal to 7414
The total number of items in the category Teen is equal to 1084
The total number of items in the category Everyone 10+ is equal to 397
The total number of items in the category Mature 17+ is equal to 461
The total number of items in the category Adults only 18+ is equal to 3
The total number of items in the category Unrated is equal to 1

In [69]:
types = {}

for name in df['Type'].unique() :
    ct = 0
    for i in df['Type']:
        if (i == name) :
            ct +=1
    types[name] = ct

print (types)
print(df.columns)

{'Free': 8715, 'Paid': 645}
Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

## Shortcut function

In [ ]:
df['Rating'].describe() #This will describe the data for the column

### Handling NULL values without removing them

#### APPROACH 1 - using SKLEARN -  We can fill the average of other items in the column and fill the NULL Values

In [52]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer 
df = pd.read_csv('./Data.csv')
df.iloc[:,1:3]          # We are using slicing here
imputer = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
imputer.fit(df.iloc[:,1:3].values)
x = imputer.transform(df.iloc[:,1:3])
x

C:\Users\luvra\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but SimpleImputer was fitted without feature names
  warnings.warn(

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01, 4.8e+04],
       [3.5e+01, 5.8e+04],
       [2.7e+01, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [53]:
df.iloc[:,1:3]  = x
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2      NaN  30.0  54000.0       NaN
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

#### For Categorical Data

In [59]:

imputer = SimpleImputer(missing_values= np.nan, strategy='most_frequent')
imputer.fit(df.iloc[:].values)
df.iloc[:] = imputer.transform(df.iloc[:].values)
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
2   France  30.0  54000.0       Yes
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes