In [14]:
import pandas as pd

bank_Data = pd.read_csv('bank_client_information.csv')  #Panda CSV reader
print(bank_Data)
bank_Data.to_csv('Pandas CSV File.csv', index=False)
""" The above statement creates a CSV file with the given data, Index false means that we don't want to include 0,1,
2 etc. index in the file."""


bank_Data.to_csv('Pandas CSV File True.csv', index=True)

housePrices_data = pd.read_html('https://www.ssa.gov/oact/progdata/nra.html')       # Reads the data from the html
# website and stores in the table
print(housePrices_data)

  First Name Last Name              Email Postal Code   Net Worth
0     Joseph    Patton     daafeja@boh.jm     M6U 5U7  $2,629.13
1       Noah     Moran  guutodi@bigwoc.kw     K2D 4M9  $8,626.96
2       Nina    Keller    azikez@gahew.mr     S1T 4E6  $9,072.02
[                                        Year of birth  \
0                                      1937 and prior
1                                                1938
2                                                1939
3                                                1940
4                                                1941
5                                                1942
6                                             1943-54
7                                                1955
8                                                1956
9                                                1957
10                                               1958
11                                               1959
12                                     1960 and later
13  Notes: 1. Persons born on January 1 of any yea...

                                                  Age
0                                                  65
1                                     65 and 2 months
2                                     65 and 4 months
3                                     65 and 6 months
4                                     65 and 8 months
5                                    65 and 10 months
6                                                  66
7                                     66 and 2 months
8                                     66 and 4 months
9                                     66 and 6 months
10                                    66 and 8 months
11                                   66 and 10 months
12                                                 67
13  Notes: 1. Persons born on January 1 of any yea...  ]